html,
body {
    padding: 0;
    margin: 0;
}

.section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.reg-section{
    display: flex;
    flex-direction: column;
    height: 120vh;
}

.img-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image {
    margin: auto;
    filter: brightness(50%);
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.second-container {
   width: 100%;
   padding: 5%;
   height: 100%;
}

.home {
    display: flex;
    align-items: center;
    gap: 10px;

}

.home-image {
    width: 13px;

}

.back-home {
    color: #3880E2;
    font-size: 1rem;
    margin-left: 2%;
}




a {
    text-decoration: none;
    color: #a0a0a0;
}

a:visited {
    color: #a0a0a0;
}

.sect {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.weApproveLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 150px;
}

.text {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
}

.login {
    width: 50%;
    border-bottom: 4px solid #c6202f;
    padding-top: 1px;
    padding-bottom: 5px;
    color: #c6202f;
    font-weight: bold;
    text-align: center;
    border-color: #c6202f;
}

.register {
    width: 50%;
    border-bottom: 2px solid;
    padding-top: 1px;
    padding-bottom: 5px;
    color: #a0a0a0;
    font-weight: bold;
    text-align: center;
}
.form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-div {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.email,.password {
    width: 100%;
}

.email-address {
    color: #a9a9a9;
}


.email-input {
    display: block;
        width: 100%;
        border-radius: 0.375rem;
        border: 1px solid #A5A5A5;
        padding: 2vw 0.5vw;
        margin-top: 2px;
        margin-bottom: 2px;
}

.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


::placeholder {
    color: #f0f0f0;
}

.email-input:focus {
    border-color: #A5A5A5;
    outline: none;
    box-shadow: 0 0 0 0.125rem #A5A5A5;
}

.password {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.password-div {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.password-text {
    color: #a9a9a9;
}

.forgot-password {
    font-size: 0.75rem;
}

.a-forgot-password {
    font-weight: 500;
    color: #A5A5A5;
}

.section-password {
    width: 100%;

}

.password-input {
    display: block;
        width: 100%;
        border-radius: 0.375rem;
        border: 1px solid #A5A5A5;
        padding: 2vw 0.5vw;
        margin-top: 2px;
        margin-bottom: 2px;
}

.password-input:focus {
    z-index: 10;
    border-color: #A5A5A5;
    border: 1px solid;
    outline: none;
    box-shadow: 0 0 0 0.125rem #A5A5A5;
}

::-webkit-input-placeholder {
    color: #f0f0f0;
}

.eye {
    padding: 0.75rem;
    height: 15px;
    z-index: 11;
}

.submit {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.button {
    display: flex;
    width: 48%;
    justify-content: center;
    border: 1px solid transparent;
    background-color: #d7b321;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
    position: relative;
}

.button:hover {
    background-color: #c6202f;
}
.reg-third-container{
    height: 80%;
}

.register-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    font-size:1.8vh;
    color: #A5A5A5;
}
.company,.register-form>div>span{
    display: flex;
    flex-direction: column;   
}
.register-form>div{
    display: flex;
    justify-content: space-between;
}
.register-form>div>span{
    width: 45%;
}
.deptsMap{
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.deptsMap>span{
   margin-left: 4%;
   margin-top: 1%;
}
.checks{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}
#register-btn{
    width: 50%;
    height: 10%;
    border: none;
    background-color: #d7b321;
    color: white;
}
#register-btn:hover{
    background-color: #c6202f;
}
.company>input{
    margin-top: 0.3vw;
    padding: 0.8vh 0.5vw;
    border-radius: 0.25rem;
    border: 1px solid #A5A5A5;
    outline: none;
}
.reg-pwd>input,.reg-email>input{
    margin-top: 0.3vw;
    border-radius: 0.25rem;
    border: 1px solid #A5A5A5;
    outline: none;
    padding: 0.8vh 0.5vw;
}
@media (min-width:600px) {
    .third-container {
        width: 60%;
        height: 80%;
    }

    .reg-third-container {
        width: 60%;
    }

    .form {
        height: 60%;
    }
}

@media (min-width:1200px) {
    .reg-section {
        display: flex;
        flex-direction: row;
        height: 100vh;
        overflow: hidden;
    }

    .section {
        display: flex;
        flex-direction: row;
    }

    .img-section {
        width: 50%;
        height: 100vh;
    }

    .container {
        width: 50%;
        height: 100%;
    }

    .second-container {
        width: 60%;
        padding: 2%;
    }

    .third-container {
        width: 100%;
        height: fit-content;
    }

    .reg-third-container {
        width: 90%;
        height: 75%;
    }

    .email-input,
    .password-input {
        padding: 1vw 0.5vw;
    }

    .register-form {
        font-size: 1.1vw;
        height: 30vw;
    }
        .company>input {
            margin-top: 0.3vw;
            padding: 0.8vw 0.5vw;
            border-radius: 0.25rem;
            border: 1px solid #A5A5A5;
            outline: none;
        }
    
        .reg-pwd>input,
        .reg-email>input {
            margin-top: 0.3vw;
            border-radius: 0.25rem;
            border: 1px solid #A5A5A5;
            outline: none;
            padding: 0.5vw 0.5vw;
        }
}
/* .forgot-password */
.fgt-pwd{
    width: 100%;
        height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 10% 15%;
}
.fgt-text {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    height: 20vh;
}
 .fgt-body {
     display: flex;
     flex-direction: column;
     align-items: center;
     color: #707070;
     /* padding: 5% 0; */
 }
 .fgt-head {
  
     font-size: 16px;
     font-weight: 600;
     margin-top: 0.5vw;
 }
 .pwd-sent {
    /* margin-top: 0; */
     font-size: 14px;
     font-weight: 400
 }
  .fgtpwd-btn-sect {
   
      display: flex;
      flex-direction: column;
      justify-content: space-between
  }

  #openEmail {
      width: 90%;
      height: 3.5vh;
      background-color: #D7B321;
      color: white;
      border: none;
      margin: 0 auto
  }
  #reset-password {
      width: 60%;
      height: 3.5vh;
      background-color: #D7B321;
      color: white;
      border: none;
  }

  .failed {
      font-size: 12px;
      margin-top: 1.3vh;
      text-align: center
  }

  .return-home {
      text-align: start;
      font-size: 12px;
      color: #334AFF;
      cursor: pointer
  }
  #openEmail:hover {
      background-color: #c6202f;
  }
  #reset-password:hover {
      background-color: #c6202f;
  }
  .fgt-icon-cont{
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
    background-color: #d7b32154;
    display: flex;
    align-items: center;
    justify-content: center;
  }
@media (min-width:1200px) {
    .fgt-icon-cont {
            border-radius: 50%;
            width: 2.5vw;
            height: 2.5vw;
            background-color: #d7b32154;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    .fgt-text {
            margin-top: 3vw;
            display: flex;
            flex-direction: row;
            height: 20vw;
    }
    .fgt-pwd {
        width: 100%;
            height: 80%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            padding: 15% 20%;
    }
    .fgt-body{
        display: flex;
            flex-direction: column;
            align-items: center;
            color: #707070;
            /* padding: 5% 0; */
    }
    .fgt-head{
        font-size: 1.3vw;
        font-weight: 600;
        margin-top: 0.5vw;
    }
    .pwd-sent{
        font-size: 1vw;
        font-weight:400 
    }
    .fgtpwd-btn-sect{
        display: flex;
            flex-direction: column;
            justify-content: space-between
    }
    #openEmail{
        width: 90%;
            height: 3vw;
            background-color: #D7B321;
            color: white;
            border: none;
            margin: 0 auto
    }
    #reset-password{
        width: 60%;
        height: 2.5vw;
        background-color: #D7B321;
        color: white;
        border: none;
        border-radius: 0.2rem;
    }
    .failed{
        font-size: 0.9vw;
        margin-top: 1vw;
        text-align: center
    }
    .return-home{
        text-align: start;
            font-size: 0.9vw;
            color: #334AFF;
            cursor: pointer
    }
}

