body{
  background-color:#00000057 ;
}


button{
  position: absolute;
  bottom: 15px;
  width: 150px;
  height: 30px;
  background-color: #D7B321;
  border-color: #9F810A;
  left: 135px;
  border:1px;
  color:#FFFFFF;
  }

  button:hover{
    background-color:#C32131;
    border: 2px solid #8E000E;
  }

  .title{
    background-color: #F5F5F5;
    position: absolute;
    top: 0px;
    width: 430px;
    padding: 5px;
    left: 0px;
    color: #A5A5A5;
  }

  .form{
    padding: 20px;
    height: 400px;
    width: 400px;
    margin-left: 400px;
    margin-top: 200px;
    border: 2px solid #7070701D ;
    position: relative;
    background-color: #FFFFFF;
  }
  .subtitle{
    margin-top: 40px;
    margin-left: 30px;
    color:#A5A5A5;
    font-family: 'Roboto', sans-serif; 
  }
  
  .mail{
    position: absolute;
    bottom: 280px;
    left: 50px;
    color:#A5A5A5;
    font-family: 'Roboto', sans-serif;
  }

  #name{
    position: absolute;
    left: 50px;
    top: 90px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border-color:#A5A5A53C;
    
  }
  input[type=email] {
    width: 300px;
    height: 30px;
    border-radius: 5px;
   border-color:#A5A5A53C ;
    position: absolute;
    left: 50px;
    top: 170px;
  }

  ::placeholder{
    color:#A5A5A5;
    font-family: 'Roboto', sans-serif;
    margin: 20px; 
    
  }
   #staff{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border-color:#A5A5A53C ;
    position: absolute;
    bottom: 150px;
    left: 50px;
  }

  .sub{
      position: absolute;
      top: 224px;
      left: 50px;
      color:#A5A5A5;
      font-family: 'Roboto', sans-serif; 
    }

    .fa-circle-xmark{
      position: absolute;
      top: 6px;
      right: 5px;
  }

      #status{
      position: absolute;
      left: 50px;
      top: 326px;
      width: 210px;
      height: 30px;
      border-radius: 5px;
      border-color:#A5A5A53C;
  
  }

  .sta{
    position: absolute;
    top: 300px;
    left: 50px;
    color:#A5A5A5;
    font-family: 'Roboto', sans-serif; 
  }

  .fa-caret-down{
    position: absolute;
    bottom: 95px;
    right: 165px;
  }